<!DOCTYPE html>
<html>
        <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}{% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
              <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
       <link rel="stylesheet" href="{{asset('assets/css/fontawesome.css')}}">

        {% block javascripts %}{% endblock %}
    
    </head>



{% block body %}
    <section id="contact" class="get-started ">
     <div class="container">
      <div class="row text-center">
      <h1 class="display-3 fw-bold text-capitalize">Gestion AppStock</h1>
      <div class="heading-line"></div>
      <p class="lh-lg">
       Bienvenue sur votre site 
      </p>
    </div>
    <div class="">
        <div class="row text-black">
            <div class=" justify-content-xl-center bg-white shadow p-3">
                <div class="form w-100 pb-2">
                <h4 class="display-3--title mb-2">Welcome</h4>
                    
                        <form method="post" action="#" class="row" >
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputUsername" >Username</label>
                        </br>
                        </br>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </br>
                        </br>
                        <label for="inputPassword">Password</label>
                        </br>
                        </br>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="password" required>
                        </br>
                        </br>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <div class="text-center d-grid mt-1">
                            <button class="btn btn-primary rounded-pill pt-3 pb-3" type="submit">
                                Sign in
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                        <div class="text-center d-grid mt-1">
                        <a href={{path('app_register')}} class="btn btn-primary rounded-pill pt-3 pb-3">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  </div>
</section>


{% endblock %}
