{% extends 'base.html.twig' %}

{% block title %}Liste Utilisateur!{% endblock %}

{% block body %}
<section id="contact" class="get-started">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold text-capitalize"> Utilisateur</h1>
      <div class="heading-line"></div>
      <p class="lh-lg">
       Bienvenue sur votre site
      </p>
    </div>

    
      <div class="justify-content-xl-center bg-black shadow p-3">
        <div class="form w-100 pb-2">
          <h4 class="display-3--title mb-5">Liste des Utilisateurs</h4>
          <div class="col-lg-12 col-md mb-3" >
           <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Identifiant</th>
                     <th scope="col">UserName</th>
                      <th scope="col">Nom</th>
                       <th scope="col">Prenom</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                   <tr class="table-primary">
                   <th scope="row">{{user.id}}</th>
                    <th scope="row">{{user.username}}</th>
                     <th scope="row">{{user.nom}}</th>
                     <th scope="row">{{user.prenom}}</th>
                      <th scope="row">{{user.email}}</th>
                   </tr>
                   
                  {% endfor %}


                </tbody>

           </table>
          
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
